:root {
    --background-checkbox-white: #fff;
    --background-checkbox-light: #BAD8F5;
    --background-checkbox-medium: #459DF5;
    --background-checkbox-stroke-middle: #8055FF;
    --background-checkbox-main: #E5E5E5;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-checkbox-main);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 100vh;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 4rem;
    border: 0.0625rem dashed var(--background-checkbox-stroke-middle);
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.radio__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio__control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
}

.radio__control:last-child {
    margin: 0;
}

.radio__area {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    margin: 0;
    border: 0.0625rem solid var(--background-checkbox-light);
    border-radius: 1rem;
    background-color: var(--background-checkbox-white);
    box-sizing: border-box;
}

.radio__area:checked {
	background-color: var( --background-checkbox-medium);
    border-color: var( --background-checkbox-medium);
}

.radio__area:active, 
.radio__area:checked:active {
	box-shadow: 0 0 0.125rem var(--background-checkbox-medium), inset 0 0 0.125rem var(--background-checkbox-medium);
}

.radio__area:focus {
    outline-color: var(--background-checkbox-light);
}

.radio__area:checked::after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background-checkbox-white);
}
