:root {
    --background-searchbar-dark: #000;
    --background-searchbar-white: #fff;
    --background-searchbar-light: #BAD8F5;
    --background-searchbar-medium: #459DF5;
    --background-searchbar-stroke-middle: #8055FF;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.svg {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 100vh;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 12rem;
    border: 0.0625rem dashed var(--background-searchbar-stroke-middle);
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.searchbar__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbar__group {
    display: flex;
    flex-direction: column;
    width: 16rem;
    font-size: 0.75rem;   
    margin-bottom: 2rem;
}

.searchbar__group:last-child {
    margin-bottom: 0;
}

.searchbar__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    border: 0.0625rem solid;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    background-color: var(--background-searchbar-white);
}

.searchbar__field:focus-within {
    box-shadow: 0 0 0.5rem var(--background-searchbar-light);
}

.searchbar__search-area {
    display: flex;
    width: 100%;
}

.searchbar__field_empty {
    border-color: var(--background-searchbar-medium);
    color: var(--background-searchbar-light);
}

.searchbar__field_active {
    border-color: var(--background-searchbar-medium);
}

.searchbar__area {
    display: flex;
    border: 0;
    padding: 0 0 0 0.5rem;
    width: 100%;
    line-height: 1rem;
    background-color: inherit;
    outline: 0;
    color: var(--background-searchbar-dark);
}

.searchbar__area::placeholder {
    color: var(--background-searchbar-light);
}

.searchbar__field_active {
    color: var(--background-searchbar-dark);
}

.searchbar__button {    
    padding: 0 0 0 0.125rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.searchbar__icon {
    display: none;
    width: 1rem;
    height: 1rem;
    fill: inherit;
    stroke: var(--background-searchbar-medium);
}

.searchbar__icon:hover {
    stroke: var(--background-searchbar-medium);
}

.searchbar__icon_incorrect {
    stroke: var(--background-searchbar-light);
    display: block;
}

.searchbar__icon_active {
    display: block;
}

