:root {
    --background-menu-light: rgba(255, 255, 153, 1);
    --background-menu-dark: rgba(0, 0, 0, 0.8);
    --background-menu-bright: rgb(245, 110, 32);

    --background-admin-panel-light: #A8A8FF;
    --background-admin-panel-middle: #8055FF;

    --background-input-dark: #000;
    --background-input-light: #BAD8F5;
    --background-input-medium: #459DF5;
    --background-input-icorrect: #F53152;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/* lessons-menu styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu__header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 1rem;
    background: var(--background-menu-light);
    color: var(--background-menu-dark);
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 auto;
    padding-left: 3rem;
}

.menu__item {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--background-menu-dark);
}

.link:active,
.link {
    text-decoration: none;
    color: var(--background-menu-dark);
}

.link:hover {
    color: var(--background-menu-bright)
}

.menu__footer {
    flex: 0 0 auto;
    font-size: 1rem;
}


/* admin-panel's styles */

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 3rem 0 3rem;
    height: 100vh;
    min-width: 28rem;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--background-admin-panel-light);
}

.page-header__content {
    line-height: 2rem;
    font-size: 1.625rem;
    font-weight: bold;
    color: var(--background-admin-panel-middle);
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    outline: 0.125rem solid var(--background-admin-panel-light);
    box-sizing: border-box;
}

.filter__search {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 18.5rem;
    height: 100%;
    min-height: 100%;
}

.filter__search-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 16rem;
    height: 100%;
    padding: 0.5rem;
    background: var(--background-admin-panel-middle);
    margin-right: 0.5rem;
}

.filter__search-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;
    width: 2rem;
    height: 100%;
    background: var(--background-admin-panel-middle);
}

.filter__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;
    width: 2rem;
    height: 100%;
    min-height: 100%;
    background: var(--background-admin-panel-middle);
}

.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    outline: 0.125rem solid var(--background-admin-panel-middle);
    box-sizing: border-box;
}

.table__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
    background-color: var(--background-admin-panel-middle);
}

.table__body {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
    background: var(--background-admin-panel-light);
}

.table__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
    background-color: var(--background-admin-panel-middle);
}